extends layouts/main

block content
    .form-upload-container
        form(action=routes.upload, method="post" class="upload-form" enctype="multipart/form-data")
            .upload-video
                p 동영상 업로드
                .upload-area
                    i.fas.fa-upload.fa-2x
                    input(type="file" name="videoFile" accept="video/*" id="upload-file")
                    label(for="upload-file" class="upload-videoBtn") 파일 선택
                .upload-area-complete.hide
                    p 업로드 완료!
                    p.upload-fileName
            .upload-info
                .upload-info-title
                    p 제목
                    input(type="text" name="title")
                .upload-info-description
                    p 영상 설명
                    textarea(name="description")
            input(type="submit" value="업로드")
