.social-login {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 250px;
        padding: 12px 15px;
        margin-bottom: 13px;
        border-radius: 7px;
    }
    
    a {
        display: flex;
        align-items: center;
        div {
            margin-right: 10px;
        }
    }

    .social-login--google {
        background-color: #f13f31;
    }
    .social-login--facebook {
        background-color: #3a5998;
    }
}