header.header
    .header__container
        .header__logo
            a(href="/") Video
        .header__search
            form(action="", method="get")
                input(type="text" placeholder="검색" name="term")
                input(type="submit" value="")
                span
                    i.fas.fa-search
        .header__login
            a(href="/login") 로그인