header.header
    .header__container
        .header__logo
            a(href=routes.home) Video
        .header__search
            form(action="", method="get")
                input(type="text" placeholder="검색" name="term")
                input(type="submit" value="" id="test")
                label(for="test")
                    i.fas.fa-search
        .header__menus
            if !loggedUser
                .header__login
                    a(href=routes.login) 로그인
            else
                .header__upload
                    a(href="/upload")
                        i.fas.fa-file-upload.icon-size
                .header__profile
                    img(src="")
                    li.header__profile_menus.hide
                        ul
                            i.fas.fa-user-circle
                            div 프로필
                        ul
                            i.fas.fa-sign-out-alt
                            div 로그아웃