.social-login
    button.social-login--google
        a(href="/login/google")
            div
                i.fab.fa-google
            - if(pageTitle === "로그인")
                |구글 로그인
            - if(pageTitle === "회원가입")
                |구글 회원가입
    button.social-login--facebook
        a(href="/login/facebook")
            div
                i.fab.fa-facebook
            - if(pageTitle === "로그인")
                |페이스북 로그인
            -if(pageTitle === "회원가입")
                |페이스북 회원가입